<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalClose()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" *ngIf="_hapus == false">
    <form [formGroup]="_formGroup">
        <div class="form-group" *ngIf="_id != null">
            <label for="name"> ID </label>
            <input type="id" class="form-control" id="id" formControlName="id">
        </div>
        <div class="form-group">
        <label for="name"> Nama </label>
        <input type="name" class="form-control" id="name" formControlName="name">
        </div>
        <div class="form-group">
        <label for="email"> Email </label>
        <input type="email" class="form-control" id="email" autocomplete="email" formControlName="email">
        </div>
        <div class="form-group">
        <label for="password"> Password </label>
        <input type="text" class="form-control" id="password" autocomplete="new-password" formControlName="password">
        </div>
    </form>
</div>
<div class="modal-body" *ngIf="_hapus == true">
    Yakin ingin menghapus Data?
</div>
<div class="modal-footer" *ngIf="_id != null && _hapus == false">
    <button type="button" class="btn btn-warning" (click)="editData()"> Edit </button>
</div>
<div class="modal-footer" *ngIf="_id != null && _hapus == true">
    <button type="button" class="btn btn-danger" (click)="hapusData()"> Hapus </button>
</div>
<div class="modal-footer" *ngIf="_id == null">
    <button type="button" class="btn btn-primary" (click)="tambahData()"> Tambah </button>
</div>