<aside #mainSidebar class="main-sidebar sidebar-light-primary elevation-4">
  <!-- Brand Logo -->
  <a [routerLink]="['/']" class="brand-link" style="background-color: #3D9970;">
    <img
      src="assets/img/AdminLTELogo.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8;"
    />
    <span class="brand-text font-weight-light"> Media Moo </span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="assets/img/user2-160x160.jpg"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a [routerLink]="['/profile']" class="d-block">Alexander Pierce</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a [routerLink]="['/']" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/data-user']" class="nav-link">
            <i class="nav-icon fas fa-hashtag"></i>
            <p>
              Data Users
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/data-user']" class="nav-link">
            <i class="nav-icon fas fa-bar-chart" aria-hidden="true"></i>
            <p>
              Total Pendapatan
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="logout()" class="nav-link">
            <i class="nav-icon fas fa-sign-out" aria-hidden="true"></i>
            <p>
              Logout
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
