<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1> Simple Tables </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/"> Home </a></li>
          <li class="breadcrumb-item active"> Data User </li>
        </ol>
      </div>
    </div>
  </div>
    <!-- /.container-fluid -->
</section>
  
  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Responsive Hover Table </h3>
          <div class="card-tools">
          <!--
            <button
              type="button"
              class="btn btn-tool"
              data-widget="collapse"
              data-toggle="tooltip"
              title="Collapse"
            >
              <i class="fa fa-minus"></i>
            </button>
            <button
              type="button"
              class="btn btn-tool"
              data-widget="remove"
              data-toggle="tooltip"
              title="Remove"
            >
              <i class="fa fa-times"></i>
            </button>
          -->
            <button type="button" class="btn btn-primary" (click)="modalEdit()"> Tambah Data </button>
          </div>
        </div>
        <div class="card-body">
          <table datatable [dtOptions]="dtOptions" class="row-border hover" >
            <thead>
              <tr>
                <th> # </th>
                <th> User ID </th>
                <th> Nama </th>
                <th> Email </th>
                <th> Password </th>
                <th> Action </th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <!-- /.card-body
        <div class="card-footer">
          Footer
        </div>
        /.card-footer-->
      </div>
    </div>
  </section>
  <!-- /.content -->