/* You can add global styles to this file, and also import other style files */
@import '~ionicons/css/ionicons.min.css';

@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';
@import '~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css';
@import '~admin-lte/dist/css/adminlte.min.css';

@import '~ngx-toastr/toastr';

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.dataTables_empty {
  display: none;
}
